body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }


.banner{
    width: 100vw;
    margin-top: 50px;

    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f7f9fa;
    
}
.text{
    width: 50%; 
    margin-left: auto;
    margin-right: auto;
}

.banner p{
    color: #6a6f73;
    margin-bottom: 2.4rem;
    align-items: center;
    font-size: 1.5rem;
}


.bannerimages{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    
    
}
.bannerimages img{

  height: 40px;
  width: auto;
}

.broad-section-courses{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}


@media (max-width: 1150px){
    .banner{
        margin-top: 150px;
    }
    .bannerimages{
        flex-wrap: no-wrap;
    }
    .broad-section-courses{
        margin-top: 80px;
    }
}
.topcategories {
  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
  }
  
  
  .cardsline1,
  .cardsline2 {
    width: 100%;
    display: flex;
    /* height: 100px; */
    justify-content: center; 
    margin: 20px 0; }
  
  .cardsline1 div,
  .cardsline2 div {
    flex: 1;
    margin: 0 10px;
  }
  
  .cardsline1 img,
  .cardsline2 img {
    max-width: 100%;
    height: auto;
  }
  
  h3 {
    margin-top: 10px; 
  }
  @media (max-width: 980px){
    .topcategories {
      width: 100%;
        /* display: flex; */
       
      }
      .getbtn{
        width: 100%;
      }
  }
  .non-students{
    margin-top: 50px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;

  }
  .non-student{
    margin-top: 50px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;

  }
  .leftside{
    height: 400px;
    width: 400px;
  }
  .nextside{
    height: 300px;
    width: 400px;
  }
  .nextside h1{
    font-size: 42px;
  }
  .nextside p{
    font-size: 19px;
font-family: sans-serif;
padding: 5px 0px;

  }
  .leftside h1{
    font-size: 40px;
  }
  .leftside ul{
font-size: 20px;
font-family: sans-serif;
color: #2d2f31;
  }
  .leftside li{
padding: 4px;

  }
.getbtn{
    height: 50px;
    width: 180px;
    /* width: 100%;  */
    background-color:rgb(74, 68, 68);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-right: 15px;

}
.learnbtn{
    height: 50px;
    width: 100px;
    background-color: #fff;
    color: black;
    font-size: 14px;
    font-weight: 600;
}
@media (max-width: 980px){
    .non-students{
      width: 100%;
        margin-top:190px ;
        justify-content: center;
        flex-direction: column;
    }
    .non-student{
      width: 100%;
      /* margin-top:190px ; */
      gap: 10px;
      justify-content: center;
      flex-direction: column;
    }
    
 
     .rightside img{
        height: 250px;
        width: 250px;

    }
    .nextside{

margin-top: -40px;
    }
}