.learningsection{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    min-height: 14.6rem;
}
.learningsection h1{
    font-size: 3rem;
    margin-bottom: 28px;   
    padding-bottom: 10px; 
    border-bottom: 2px solid rgb(188, 188, 188); 
}
.learningsection1{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 20px 0;
    justify-content: space-between;
}
.learningcard{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    line-height: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.learningcard img{
    width: 20rem;
    height: 13rem;
}
.learningcard h2{
    width: 100%;
    padding-top: 10px;
}
.learningcard p{
    padding-top: 10px;
}
.learningcard h3{
    padding-top: 10px;
}

@media (max-width:756px){
    .learningsection{
        background-color: rgb(255, 255, 255);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
        min-height: 14.6rem;
    }
    .learningsection h1{
        font-size: 3rem;
        margin-bottom: 28px;   
        padding-bottom: 10px; 
        border-bottom: 2px solid rgb(188, 188, 188); 
    }
    .learningsection1{
        width: 90%;
    }
    .learningcard{
        width: 100%;
        line-height: 25px;
    }
    .learningcard img{
        width: 100%;
        height: 50%;
    }
    .learningcard h2{
        width: 100%;
        padding-top: 10px;
        font-size: large;
    }
    .learningcard p{
        padding-top: 6px;
        font-size: small;
        font-weight: 500;
    }
    .learningcard h3{
        padding-top: 10px;
        font-size: small;
    }
    .learnauthor{
        font-weight: 100!important;
    }
}

@media (min-width:756px) and (max-width:1024px){
    .learningsection{
        background-color: rgb(255, 255, 255);
        width: 100%;
        padding: 30px 0;
        min-height: 14.6rem;
    }
    .learningsection h1{
        font-size: 3rem;
        margin-bottom: 28px;   
        padding-bottom: 10px; 
        border-bottom: 2px solid rgb(188, 188, 188); 
    }
    .learningsection1{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        gap: 20px 0;
        justify-content: space-between;
    }
    .learningcard{
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
        line-height: 25px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
    .learningcard img{
        width: 20rem;
        height: 13rem;
    }
    .learningcard h2{
        width: 100%;
        padding-top: 10px;
    }
    .learningcard p{
        padding-top: 10px;
    }
    .learningcard h3{
        padding-top: 10px;
    }
}